<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<div class="ui main text container segment" id="a">
        <div class="ui huge header">New Campus Course</div>
        <form class="ui form" action="/campus" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label>Courseid</label>
                <input type="text" name="courseid" placeholder="courseid">
            </div>
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="title">
            </div>
                <div class="field">
                    <label>Description</label>
                    <textarea name="description"></textarea>
                </div>
            <div class="field">
                    <label>Priority</label>
                    <input type="number" name="priority">
                </div>
                <div class="field">
                    <label>Domain</label>
                    <input type="text" name="domain">
                </div>
                <div class="field">
                        <label>Upload Image</label>
                        <input type="file" name="image">
                    </div>    
            <button class="ui button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <style>
#a{
    margin-top:10%;
}
    </style>