<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="icon">
  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="apple-touch-icon">
  <title>AMZ - Admin Portal</title>

 <!-- Bootstrap CSS -->
 <link href="/vendor/css3.0/bootstrap.min.css" rel="stylesheet">

 <link href="/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" >
 <!-- bootstrap theme -->
 <link href="/vendor/css3.0/bootstrap-theme.css" rel="stylesheet">
 <!--external css-->
 <!-- font icon -->
 <link href="/vendor/css3.0/elegant-icons-style.css" rel="stylesheet" />
 <link href="/vendor/css3.0/font-awesome.min.css" rel="stylesheet" />
 <link rel="stylesheet" href="/vendor/css3.0/line-icons.css">
 <!-- Custom styles -->
 
 <link href="/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
 
 <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

 <link href="/vendor/css3.0/style.css" rel="stylesheet">
 <link href="/vendor/css3.0/style-responsive.css" rel="stylesheet" />

  
</head>

<body class="login-img3-body">

  <div class="container">

    <form class="login-form" action="/admin/login" method="POST">
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" class="form-control" name="id" placeholder="Username" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <label class="checkbox">
                <span class="pull-right"><a href="" id="modal-AmzLoginModal" data-toggle="modal" data-target="#forgetPasswordModal"> Forgot Password?</a></span>
            </label>
        <button class="btn btn-primary btn-lg btn-block" type="Submit">Login</button>
      </div>
    </form>
  </div>

   <!-- Modal Request -->
   <div class="modal fade FormModal" id="forgetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <p class="text-center">Enter Details</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column text-center">
            <form class="modalRequest-form" action="">
              <div class="form-group">
                <input type="email" class="form-control" name="userEmail" id="userEmail" placeholder="YOUR EMAIL" autocomplete="off" autofocus[]>
              </div>
              
              <div class="row">
                <div class="col-md-6 col-sm-12 offset-md-6 mr-auto">
                  <a href="adminAuth.html" type="button" class="btn btn-info btn-block btn-round">Submit</a>
                </div>
              </div>

            </form>
            
        </div>
      </div>
        <div class="modal-footer border-top-0">
          <div class="dismiss-section text-center">Not Interested? <a data-dismiss="modal" class="text-info"> Back</a>.</div>
        </div>
    </div>
  </div>
  </div>
  <!-- Modal End  -->

  <!-- javascripts -->

 <script src="/vendor/js3.0/jquery.js"></script>
 <script src="/vendor/js3.0/bootstrap.min.js"></script>

 <!-- nice scroll -->
 <script src="/vendor/js3.0/jquery.scrollTo.min.js"></script>
 <script src="/vendor/js3.0/jquery.nicescroll.js"></script>
 
<script src="/vendor/owl.carousel/owl.carousel.js"></script>
 <!--custome script for all page-->
 <script src="/vendor/js3.0/scripts.js"></script>

</body>

</html>
