<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <!--jQuery library--> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript--> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
          <link  rel="stylesheet" type="text/css" href="style.css"   />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8" lang="en">
          <title>View orders page</title>
<style>
.fa-ul{
text-align:right;
}
.box{
display:block;
background-color:#191f24;
width:auto;
height:auto;
}
.heading{
text-align:center;
color: #466fb0 ;
font-family: "Times New Roman";
font-size: 20px;
letter-spacing: 25px;
}
.headingtext{
color:#f0f0f0;
font-size:25px;
text-align:center;
margin-top:60px;
margin-left:10px;
margin-right:10px;
font-family: "Times New Roman";

}
.bottom{
background-color:#fafafa;}
</style>
</head>
<body>

<img src="img1.png" width="100%">
<!--<div class="right">
<ul class="fa-ul">
<li><i class="fab fa-twitter"></i><li>
  <li><span class="fa-li"><i class="fa fa-twitter"></i></span>List Item</li>
  <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>List Item</li>
  <li><span class="fa-li"><i class="fas fa-square"></i></span>List Item</li>
</ul>
</div>-->
<div class="box">
<div class="heading">
ABOUT AMZ
</div>
<div class="headingtext">
<p class="headingtext">AMZ Automotive is a pioneer in the field of providing practicality to the theoretical knowledge acquired by the<br> engineers in the field of Engineering. We offer internships
and workshops to the students to implement  the<br> knowledge obtained by them in the real world situations. We extract them out of the nutshell and let them 
face<br> the real world problems under the guidance of our phenomenal faculty members like, former F<subscript>1</subscript> Marshell,<br> Research Engineers, Rally Car Designers,
IT expert, Automation Expert and Rally drivers who have years of<br> experience in Industry.  </p>
</div>
<div class="row">
<div class="col-md-4">
<img src="img2.png" width="170px" height="170px"></div>
<div class="col-md-4">
<p class="heading" style="padding-top:80px;">
HOW WE DO
</p></div>
<div class="col-md-4">
<img src="img3.png" width="150px" height="150px" style="float:right"></div>
</div>
<p class="headingtext">
We promote interactive and complete hands-on training in the Electric vehicle. Hybrid Vehicle, Autonomous<br> car, ATV, Go-Kart, Artificial Intelligence, Machine Learning, Automation and Formula prototype vehicles. We<br> have evolved over the time and have taken a comprehensive approach to the latest studies. We have a well-for-<br>mulated technical programes that includes academic lectures on dynamics, CAD design, Design Analysis, Elec-<br>trical Testing, Automation Testing, Machine Learning, Artificial Intelligence, Fabrication,etc.
We organize<br> participating Internship in different colleges and provide specially Research And Development Learning to <br>benefit the students and help them with all-round development. We focus on polishing not only their engi-<br>neering skills but also in enhancing their team management and leadership skills.
We provide the best envi-<br>ronment to evolve engineering student’s expertise in scientific understanding, technical competence, and dili-<br>gent attention to detail, using workshops.
</p><br>
<img src="img5.png" style="margin-left:40%" >
</div>
<h3 style="text-align:center; background-color:#fafafa; margin-bottom:0px; margin-top:0px; padding-top:3px" ><b>YOUTUBE<b></h3>
<img src="img6.png" width="100%" height="70%">

<img src="img7.png" width="100%" height="50%">
<div class="bottom">
<br>
<h2 style="text-align:center; margin-top:0px;"><b>Our Happy Clients</b></h2>

<p style="text-align:center; color:#cccaca;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br>
tincidunt ut laoreet dolore magna aliquam erat volutpat   </p>
<hr style="height:4px;border-width:500%;color:#000000;background-color:#000000; margin-left:35%; margin-right:35% ">
<img src="img8.png" width="100%" height="20%"></div>
</body>
</html>    