<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AMZ AUTOMATIVE</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../public/img/logoAMZ/AMZ Techiversity logo 2.png" rel="icon">
  <link href="../public/img/logoAMZ/AMZ Techiversity logo 2.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../public/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../public/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../public/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../public/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../public/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container-fluid d-flex align-items-center">
    <a href="./home.html" class="logo mr-auto"><img src="../public/img/logoAMZ/AMZ Techiversity log.png" alt="" class="img-fluid"></a>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="./home.html">Home</a></li>
        <li class="drop-down"><a href="">About</a>
          <ul>
            <li><a href="./aboutUs.html">About AMZ</a></li>
            <li><a href="./gallery.html">AMZ Gallery</a></li>
            <li><a href="./award_gallery.html">AMZ Awards</a></li>
          </ul>
        </li>
        <li><a href="./internshipCourse.html">Internship</a></li>
        <li><a href="./events.html">Events</a></li>
        <li><a href="#centerLogin">Center Of Excellence</a></li>
        <li><a href="./amz_login.html">AMZ Login</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- End Header -->

  

  <main id="main">

        <!-- ======= Courses Section ======= -->
        <section id="course" class="course"> 
          <div class="container-fluid px-0" data-aos="fade-up">
    
            <div class="section-title mt-10">
              <h2>Coming Soon</h2>
            </div>
            <!--  
            <div class="section-title">
              <h2>Popular Online Courses</h2>
            </div>
            <div class="row mb-3 header" data-aos="zoom-in" data-aos-delay="100">
              <h5 class="col text-center mb-3">Training Program</h5>
              <h5 class="col text-center mb-3">Faculty Development Program</h5>
              <h5 class="col text-center mb-3">Workshop</h5>
            </div>
    
            <ul id="course-flters" class="row  " data-aos="fade-up" data-aos-delay="200">
                
              <li data-filter=".filter-civil" class="filter-active col"><img src="../public/img/course/civil_icon.png" alt="" class="course_icon-img"><br>Civil</li>
              <li data-filter=".filter-mechanical" class="col"><img src="../public/img/course/mechanical_icon.png" alt="" class="course_icon-img"><br>Mechanical</li>
              <li data-filter=".filter-eleEce" class="col"><img src="../public/img/course/eleEce_icon.png" alt="" class="course_icon-img"><br>Electronics & Electrical</li>
              <li data-filter=".filter-chemical" class="col"><img src="../public/img/course/chemical-icon2.png" alt="" class="course_icon-img"><br>Chemical</li>
              <li data-filter=".filter-computer" class="col"><img src="../public/img/course/computer_icon.png" alt="" class="course_icon-img"><br>Computer Science</li>
            </ul>
    
            <div class="row course-container mx-3" data-aos="fade-up" data-aos-delay="300">

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-civil">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Civil</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-civil">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Civil</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-civil">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Civil</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-civil">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Civil</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-civil">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Civil</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-civil">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Civil</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-civil">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Civil</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-civil">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Civil</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>





              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-mechanical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Mechanical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-mechanical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Mechanical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-mechanical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Mechanical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-mechanical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Mechanical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-mechanical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Mechanical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-mechanical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Mechanical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-mechanical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Mechanical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-mechanical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Mechanical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-eleEce">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Ele & Ece</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-eleEce">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Ele & Ece</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-eleEce">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Ele & Ece</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-eleEce">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Ele & Ece</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-eleEce">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Ele & Ece</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-eleEce">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Ele & Ece</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-eleEce">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Ele & Ece</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-eleEce">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Ele & Ece</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-chemical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Chemical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-chemical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Chemical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-chemical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Chemical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-chemical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Chemical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-chemical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Chemical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-chemical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Chemical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-chemical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Chemical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-chemical">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Chemical</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-computer">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Computer</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-computer">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Computer</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-computer">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Computer</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-computer">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Computer</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-computer">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Computer</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-computer">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Computer</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-computer">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Computer</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 course-item filter-computer">
                <div class="card">
                  <div class="course-wrap">
                    <img class="card-img-top img-fluid" src="../public/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Course Title Computer</h5>
                      <div class="d-flex justify-content-between">
                        <p class="card-text">Course Desc</p>
                      <p><i class="bx bxs-heart pr-1"></i>2</p> 
                      </div>
                    </div>
                    <div class="course-info">
                      <a href="" type="submit" class="btn btn-primary mb-3">Discover Now</a href="">
                      <a href="" type="submit" class="btn btn-success">Enroll Now</a href="">
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
            -->
          </div>
        </section> 
        <!-- End Courses Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>About Amz</h4>
            <p>
              <strong>Location:</strong> AM Tower, 3rd floor, 07 Teachers colony, Ajmer Rd, DCM, Jaipur, Rajasthan 302021<br>
              <strong>Phone:</strong> +91 9361897519<br>
              <strong>Email:</strong>  mail@amzindia.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Support</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="./home.html">Get in touch</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Information</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Newsletter</h4>
            <p>Signup to receive our interesting news and promotions.We never send spam!</p>
            <form action="" method="post" class="mb-3">
              <input type="email" name="email"  placeholder="Your Email..."><input type="submit" value="Subscribe">
            </form>
            <h4 class="pb-0">Validate Certificate</h4>
            <p>Validate your certificate now by Serial No</p>
            <form action="" method="post">
              <input type="text" name="certificateId"  placeholder="Serial Number..."><input type="submit" value="Validate">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; <strong><span>2020 AMZ.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>


   <!-- Vendor JS Files -->
   <script src="../public/vendor/jquery/jquery.min.js"></script>
   <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="../public/vendor/jquery.easing/jquery.easing.min.js"></script>
   <script src="../public/vendor/waypoints/jquery.waypoints.min.js"></script>
   <script src="../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
   <script src="../public/vendor/counterup/counterup.min.js"></script>
   <script src="../public/vendor/venobox/venobox.min.js"></script>
   <script src="../public/vendor/owl.carousel/owl.carousel.min.js"></script>
   <script src="../public/vendor/aos/aos.js"></script>
 
   <!-- Template Main JS File -->
   <script src="../public/js/main.js"></script>

</body>

</html>