<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<div class="ui main text container segment" id="a">
        <div class="ui huge header">Edit news</div>
        <form class="ui form" action="/edit/<%=news[0].newsid%>/news" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label>Heading</label>
                <input type="text" name="heading" value="<%=news[0].heading%>">
            </div>
               
                
                <div class="field">
                    <label>Description</label>
                    <textarea  name="description"><%=news[0].description%></textarea>
                </div>
                <div class="field b">
                    <label>Time</label>
                    <input type="text" name="date" value="<%=news[0].date%>">
                </div>
            <input type="file" name="img_url">
            <button class="ui button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
    <style>
  
#a{
    margin-top:3%;
}
.b{
    visibility: hidden;
}
    </style>