<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AMZ AUTOMATIVE</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

 <!-- Favicons -->
 <link href="../public/img/logoAMZ/AMZ Techiversity logo 2.png" rel="icon">
 <link href="../public/img/logoAMZ/AMZ Techiversity logo 2.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../public/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="../public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="../public/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="../public/vendor/venobox/venobox.css" rel="stylesheet">
<link href="../public/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="../public/vendor/aos/aos.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="../public/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid d-flex align-items-center">
      <a href="./home.html" class="logo mr-auto"><img src="../public/img/logoAMZ/AMZ Techiversity log.png" alt="" class="img-fluid"></a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="./aboutUs.html">About AMZ</a></li>
              <li><a href="./gallery.html">AMZ Gallery</a></li>
              <li><a href="./award_gallery.html">AMZ Awards</a></li>
            </ul>
          </li>
          <li><a href="./internshipCourse.html">Internship</a></li>
          <li class="active"><a href="./events.html">Events</a></li>
          <li><a href="#centerLogin">Center Of Excellence</a></li>
          <li><a href="./amz_login.html">AMZ Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header -->


  <main id="main">

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container-fluid mt-5" data-aos="zoom-in">

        <div class="section-title">
          <h2 class="text-white">Our Recent Workshops</h2>
          <!-- <p class="text-white">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 mb-5">
            <div class="owl-carousel previous-workshop-carousel">
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-info">
                    <h4 class="mb-2">University Name </h4>
                    <div class="events-links mb-2">
                      <a href=""><i class="bx bx-plus"></i></a>
                    </div>
                    <h4 class="mt-3">Workshop Title</h4>
                    <p class="mt-1 text-enter"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020<i class="bx bxs-comment-detail pr-1 pl-2"></i>10</p>
                  </div>
                </div>
              </div>
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-info">
                    <h4 class="mb-2">University Name </h4>
                    <div class="events-links mb-2">
                      <a href=""><i class="bx bx-plus"></i></a>
                    </div>
                    <h4 class="mt-3">Workshop Title</h4>
                    <p class="mt-1 text-enter"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020<i class="bx bxs-comment-detail pr-1 pl-2"></i>10</p>
                  </div>
                </div>
              </div>
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-info">
                    <h4 class="mb-2">University Name </h4>
                    <div class="events-links mb-2">
                      <a href=""><i class="bx bx-plus"></i></a>
                    </div>
                    <h4 class="mt-3">Workshop Title</h4>
                    <p class="mt-1 text-enter"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020<i class="bx bxs-comment-detail pr-1 pl-2"></i>10</p>
                  </div>
                </div>
              </div>
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-info">
                    <h4 class="mb-2">University Name </h4>
                    <div class="events-links mb-2">
                      <a href=""><i class="bx bx-plus"></i></a>
                    </div>
                    <h4 class="mt-3">Workshop Title</h4>
                    <p class="mt-1 text-enter"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020<i class="bx bxs-comment-detail pr-1 pl-2"></i>10</p>
                  </div>
                </div>
              </div>
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-info">
                    <h4 class="mb-2">University Name </h4>
                    <div class="events-links mb-2">
                      <a href=""><i class="bx bx-plus"></i></a>
                    </div>
                    <h4 class="mt-3">Workshop Title</h4>
                    <p class="mt-1 text-enter"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020<i class="bx bxs-comment-detail pr-1 pl-2"></i>10</p>
                  </div>
                </div>
              </div>
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-info">
                    <h4 class="mb-2">University Name </h4>
                    <div class="events-links mb-2">
                      <a href=""><i class="bx bx-plus"></i></a>
                    </div>
                    <h4 class="mt-3">Workshop Title</h4>
                    <p class="mt-1 text-enter"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020<i class="bx bxs-comment-detail pr-1 pl-2"></i>10</p>
                  </div>
                </div>
              </div>
                  
        
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="owl-carousel latest-workshop-carousel">
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-ltWshop-info">
                    <h4 class="mb-5">Latest Worshop Name</h4>
                    <div class="events-links">
                      <a href=""><i class="bx bx-plus"></i>know More</a>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-ltWshop-info">
                    <h4 class="mb-5">Latest Worshop Name</h4>
                    <div class="events-links">
                      <a href=""><i class="bx bx-plus"></i>know More</a>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-ltWshop-info">
                    <h4 class="mb-5">Latest Worshop Name</h4>
                    <div class="events-links">
                      <a href=""><i class="bx bx-plus"></i>know More</a>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-ltWshop-info">
                    <h4 class="mb-5">Latest Worshop Name</h4>
                    <div class="events-links">
                      <a href=""><i class="bx bx-plus"></i>know More</a>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="events-item">
                <div class="events-wrap">
                  <img src="../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                  <div class="events-ltWshop-info">
                    <h4 class="mb-5">Latest Worshop Name</h4>
                    <div class="events-links">
                      <a href=""><i class="bx bx-plus"></i>know More</a>
                    </div>
                  </div>
                </div>
              </div>
                  
        
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End events Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>About Amz</h4>
            <p>
              <strong>Location:</strong> AM Tower, 3rd floor, 07 Teachers colony, Ajmer Rd, DCM, Jaipur, Rajasthan 302021<br>
              <strong>Phone:</strong> +91 9361897519<br>
              <strong>Email:</strong>  mail@amzindia.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Support</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="./home.html">Get in touch</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Information</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Newsletter</h4>
            <p>Signup to receive our interesting news and promotions.We never send spam!</p>
            <form action="" method="post" class="mb-3">
              <input type="email" name="email"  placeholder="Your Email..."><input type="submit" value="Subscribe">
            </form>
            <h4 class="pb-0">Validate Certificate</h4>
            <p>Validate your certificate now by Serial No</p>
            <form action="" method="post">
              <input type="text" name="certificateId"  placeholder="Serial Number..."><input type="submit" value="Validate">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; <strong><span>2020 AMZ.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>


   <!-- Vendor JS Files -->
   <script src="../public/vendor/jquery/jquery.min.js"></script>
   <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="../public/vendor/jquery.easing/jquery.easing.min.js"></script>
   <script src="../public/vendor/waypoints/jquery.waypoints.min.js"></script>
   <script src="../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
   <script src="../public/vendor/counterup/counterup.min.js"></script>
   <script src="../public/vendor/venobox/venobox.min.js"></script>
   <script src="../public/vendor/owl.carousel/owl.carousel.min.js"></script>
   <script src="../public/vendor/aos/aos.js"></script>
 
   <!-- Template Main JS File -->
   <script src="../public/js/main.js"></script>

</body>

</html>