<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AMZ AUTOMATIVE</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

<!-- Favicons -->
<link href="../../public/img/favicon.png" rel="icon">
<link href="../../public/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../../public/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="../../public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="../../public/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="../../public/vendor/venobox/venobox.css" rel="stylesheet">
<link href="../../public/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="../../public/vendor/aos/aos.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="../../public/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="./home.html">AMZ</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="home.html" class="logo mr-auto"><img src="../public/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="./home.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Internship</a></li>
          <li><a href="./events.html">Events</a></li>
          <li class="drop-down"><a href="">Programmes</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <!-- <li><a data-toggle="modal" data-target="#loginModal">Amz Login</a></li> -->
          <li><a href="./amz_login.html">AMZ Login</a></li>
          <li><a href="#centerLogin">Center Of Excellence</a></li>
        </ul>
      </nav><!-- .nav-menu -->
<!-- 
      <a href="#about" class="get-started-btn scrollto">Get Started</a> -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <p>Develop your own internet of things</p>
          <div class="section-header">
            <h1>Amz Automative</h1>
          </div>
          <h2>slider Qoute 1</h2>
          <div class="d-lg-flex hero-margin">
            <a href="#about" class="take-a-tour scrollto">Take a Tour</a>
            <a href="#register" class="register-now scrollto">Register Now</a>
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../../public/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Trusted By</h2>
        </div>

        <div class="owl-carousel trustedBy-carousel" data-aos="zoom-in">

          <img src="../../public/img/PARTNERS/dune adventure.jpg" class="img-fluid" alt="">
          <img src="../../public/img/PARTNERS/india baja.png" class="img-fluid" alt="">
          <img src="../../public/img/PARTNERS/indian motor cycle.jpg" class="img-fluid" alt="">
          <img src="../../public/img/PARTNERS/k raheja crop.jpg" class="img-fluid" alt="">
          <img src="../../public/img/PARTNERS/multix logo.jpg" class="img-fluid" alt="">
          <img src="../../public/img/PARTNERS/polaris.png" class="img-fluid" alt="">
          <img src="../../public/img/PARTNERS/steel bird logo.jpg" class="img-fluid" alt="">

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= News Section ======= -->
<section id="news" class="news">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>News</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="owl-carousel news-carousel">

      <div class="news-item">
        <div class="news-wrap">
          <img src="../../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="news-info">
            <h4 class="mb-5">A Person Dies suring the Pandemic</h4>
            <div class="news-links">
              <a href=""><i class="bx bx-plus"></i>Read Article</a>
            </div>
            <p class="mt-3 text-right"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020</p>
          </div>
        </div>
      </div>

      <div class="news-item">
        <div class="news-wrap">
          <img src="../../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="news-info">
            <h4 class="mb-5">A Person Dies suring the Pandemic</h4>
            <div class="news-links">
              <a href=""><i class="bx bx-plus"></i>Read Article</a>
            </div>
            <p class="mt-3 text-right"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020</p>
          </div>
        </div>
      </div>

      <div class="news-item">
        <div class="news-wrap">
          <img src="../../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="news-info">
            <h4 class="mb-5">A Person Dies suring the Pandemic</h4>
            <div class="news-links">
              <a href=""><i class="bx bx-plus"></i>Read Article</a>
            </div>
            <p class="mt-3 text-right"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020</p>
          </div>
        </div>
      </div>

      <div class="news-item">
        <div class="news-wrap">
          <img src="../../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="news-info">
            <h4 class="mb-5">A Person Dies suring the Pandemic</h4>
            <div class="news-links">
              <a href=""><i class="bx bx-plus"></i>Read Article</a>
            </div>
            <p class="mt-3 text-right"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020</p>
          </div>
        </div>
      </div>

      <div class="news-item">
        <div class="news-wrap">
          <img src="../../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="news-info">
            <h4 class="mb-5">A Person Dies suring the Pandemic</h4>
            <div class="news-links">
              <a href=""><i class="bx bx-plus"></i>Read Article</a>
            </div>
            <p class="mt-3 text-right"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020</p>
          </div>
        </div>
      </div>

      <div class="news-item">
        <div class="news-wrap">
          <img src="../../public/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="news-info">
            <h4 class="mb-5">A Person Dies suring the Pandemic</h4>
            <div class="news-links">
              <a href=""><i class="bx bx-plus"></i>Read Article</a>
            </div>
            <p class="mt-3 text-right"><i class="bx bxs-calendar-event pr-1"></i>01/01/2020</p>
          </div>
        </div>
      </div>
          

    </div>

  </div>
</section><!-- End News Section -->

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Partners</h2>
        </div>
        <div class="row partners" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/dune adventure.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/india baja.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/indian motor cycle.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/k raheja crop.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/multix logo.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/polaris.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/steel bird logo.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/dune adventure.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/india baja.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/indian motor cycle.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/k raheja crop.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/multix logo.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/polaris.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/steel bird logo.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/dune adventure.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/india baja.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/indian motor cycle.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/k raheja crop.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/multix logo.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/polaris.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/steel bird logo.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/dune adventure.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/india baja.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="../../public/img/PARTNERS/indian motor cycle.jpg" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

       <!-- ======= About Video Section ======= -->
       <section id="news" class="news">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Video</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="owl-carousel video-carousel">
  
            <div class="news-item">
              <div class="video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="../../public/img/about-video.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
              </div>
            </div>
      
            <div class="news-item">
              <div class="video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="../../public/img/about-video.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
              </div>
            </div>
      
            <div class="news-item">
              <div class="video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="../../public/img/about-video.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
              </div>
            </div>
      
            <div class="news-item">
              <div class="video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="../../public/img/about-video.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
              </div>
            </div>
      
            <div class="news-item">
              <div class="video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="../../public/img/about-video.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
              </div>
            </div>
      
            <div class="news-item">
              <div class="video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="../../public/img/about-video.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
              </div>
            </div>
                
      
          </div>
  
  
  
        </div>
      </section>
      <!-- End About Video Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Advisory Committe</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="../../public/img/aDVISORY COMIITE/yatindra Bhushan.JPG" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Yatindra Bhusan</h4>
                <span></span>
                <p>Senior Reservoir Engineer at ADCO UAE</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="../../public/img/aDVISORY COMIITE/dr ratanadip r joshi.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dr. Ratnadip R Joshi</h4>
                <span></span>
                <p>Associate Dean at Maharashtra Institute of Technology,Kothrud,Pune,India</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="../../public/img/aDVISORY COMIITE/Aman Tripathi.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Aman Tripathi</h4>
                <span></span>
                <p>Management Committe Member at Nissan Europe
                  <br>Chairman Office at Nissan Europe
                </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="../../public/img/aDVISORY COMIITE/ARVIND BALAN.JPG" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Arvind Balan</h4>
                <span></span>
                <p>Founder and MD at Maxperience<br>
                Former Senior Area Manager at Indian Oil Corporation Ltd.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="../../public/img/aDVISORY COMIITE/Seshathiri Dhanasekaran.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Seshathiri Dhanasekaran</h4>
                <span></span>
                <p>AI/ML Researcher/Data Scientist/Corporate ML and Data Science Trainer/Helping in ML AI Projects.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    
   <!-- ======= Counts Section ======= -->
   <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row justify-content-end">

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">229</span>
            <p>Completed Projects</p>
          </div>
        </div>

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">2902</span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">3268</span>
            <p>Resolve Ticket</p>
          </div>
        </div>

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">14</span>
            <p>Winning Awards</p>
          </div>
        </div>

        <div class="col d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-toggle="counter-up">7</span>
            <p>Years of Experience</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Get in touch now</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>AMZ, Jaipur</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.388125975769!2d75.73612911436533!3d26.891174667492137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db58c796dde9f%3A0xdcb87ad7ed12bfa8!2sAMZ%20Automotive!5e0!3m2!1sen!2sin!4v1591366660806!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name*</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email*</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Telephone Number*</label>
                <input type="number" class="form-control" name="number" id="number" data-rule="minlen:10" data-msg="Please enter a valid number" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message*</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>About Amz</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, molestias. <br>
              <strong>Location:</strong> AMZ, Jaipur<br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Support</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">visit to Forum</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ticket Support</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Send us an</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">F.A.Qs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Information</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Careers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">F.A.Qs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms & Conditions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Newsletter</h4>
            <p>Signup to receive our interesting news and promotions.We never send spam!</p>
            <form action="" method="post" class="mb-3">
              <input type="email" name="email"  placeholder="Your Email..."><input type="submit" value="Subscribe">
            </form>
            <h4 class="pb-0">Validate Certificate</h4>
            <p>Validate your certificate now by your name</p>
            <form action="" method="post">
              <input type="email" name="email"  placeholder="Your Email..."><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; <strong><span>2020 AMZ.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>


   <!-- Vendor JS Files -->
   <script src="../../public/vendor/jquery/jquery.min.js"></script>
   <script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="../../public/vendor/jquery.easing/jquery.easing.min.js"></script>
   <script src="../../public/vendor/waypoints/jquery.waypoints.min.js"></script>
   <script src="../../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
   <script src="../../public/vendor/counterup/counterup.min.js"></script>
   <script src="../../public/vendor/venobox/venobox.min.js"></script>
   <script src="../../public/vendor/owl.carousel/owl.carousel.min.js"></script>
   <script src="../../public/vendor/aos/aos.js"></script>
 
   <!-- Template Main JS File -->
   <script src="../../public/js/main.js"></script>

</body>

</html>