<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AMZ AUTOMATIVE</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../public/img/logoAMZ/AMZ Techiversity logo 2.png" rel="icon">
  <link href="../public/img/logoAMZ/AMZ Techiversity logo 2.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../public/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../public/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../public/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../public/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../public/css/style.css" rel="stylesheet">

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid d-flex align-items-center">
      <a href="./home.html" class="logo mr-auto"><img src="../public/img/logoAMZ/AMZ Techiversity log.png" alt="" class="img-fluid"></a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="./home.html">Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="./aboutUs.html">About AMZ</a></li>
              <li><a href="./gallery.html">AMZ Gallery</a></li>
              <li><a href="./award_gallery.html">AMZ Awards</a></li>
            </ul>
          </li>
          <li class="active"><a href="./internshipCourse.html">Internship</a></li>
          <li><a href="./events.html">Events</a></li>
          <li><a href="#centerLogin">Center Of Excellence</a></li>
          <li><a href="./amz_login.html">AMZ Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header -->

  <section class="details" id="details">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-details" >
        <h2>Industrial Internship Program, 2020</h2>
        <form method="post" name="regFormDetails" action="" >
        
        <table>
        
        <tr>
        <td> Name: </td>
        <td><input name="name" id="name"  /></td>
        </tr>
        
        
        <tr>
        <td>Email: </td>
        <td><input name="email" id="email"  /></td>
        </tr>
        
        <tr>
        <td>Phone: </td>
        <td><input id="phone" name="phone" type="number"/></td>
        </tr>
        
        <tr>
        <td>College: </td>
        <td><input id="college" name="college"  /></td>
        </tr>
        
        <tr>
          <td>Branch: </td>
          <td><input id="branch" name="branch" disabled /></td>
          </tr>
          
          <tr>
          <td>Course: </td>
          <td><input id="course" name="course" disabled /></td>
          </tr>
        
        <!-- <tr>
        <td>Select Branch: </td>
        <td><select name="branch" id="branch"  onChange="changecat(this.value);">
            <option value="" disabled selected>Select</option>
            <option value="Mechanical">Mechanical & Automobile Engineering</option>
            <option value="Civil">Civil Engineering</option>
            <option value="Computer Science">Computer Science & Information Technology</option>
            <option value="Electronics & Communication">Electrical & Electronic Engineering</option>
        </select></td>
        </tr>
        
        
        <tr>
        <td>Select Course: </td>
        <td><select name="course" id="course" >
            <option value="" disabled selected>Select</option>
        </select></td>
        </tr> -->
        
        
        <tr>
        <td>Venue: </td>
        <td><select name="city" id="city"  >
          <option value="" disabled selected>Select Venue</option>
        </select></td>
        </tr>
        
        <tr>
        <td> Referral: </td>
        <td><input name="referral" id="referral" placeholder="Enter The Name of Referral"  /></td>
        </tr>
        
        <tr>
        <td>Booking Fees: </td>
        <td>(Pay Rs. 2000/- for Booking)</td>
        </tr>
        
        
        
        <tr>
        
        <td colspan="4"><input type="submit" name="email5"  class="btn btn-primary" /></td>
        
        </tr>
        </table>
        </form>
        </div>
        </div>
    </div>
  </section>
    


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>About Amz</h4>
            <p>
              <strong>Location:</strong> AM Tower, 3rd floor, 07 Teachers colony, Ajmer Rd, DCM, Jaipur, Rajasthan 302021<br>
              <strong>Phone:</strong> +91 9361897519<br>
              <strong>Email:</strong>  mail@amzindia.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Support</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="./home.html">Get in touch</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Information</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Newsletter</h4>
            <p>Signup to receive our interesting news and promotions.We never send spam!</p>
            <form action="" method="post" class="mb-3">
              <input type="email" name="email"  placeholder="Your Email..."><input type="submit" value="Subscribe">
            </form>
            <h4 class="pb-0">Validate Certificate</h4>
            <p>Validate your certificate now by Serial No</p>
            <form action="" method="post">
              <input type="text" name="certificateId"  placeholder="Serial Number..."><input type="submit" value="Validate">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; <strong><span>2020 AMZ.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>


 <!-- Vendor JS Files -->
 <script src="../public/vendor/jquery/jquery.min.js"></script>
 <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="../public/vendor/jquery.easing/jquery.easing.min.js"></script>
 <script src="../public/vendor/waypoints/jquery.waypoints.min.js"></script>
 <script src="../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="../public/vendor/counterup/counterup.min.js"></script>
 <script src="../public/vendor/venobox/venobox.min.js"></script>
 <script src="../public/vendor/owl.carousel/owl.carousel.min.js"></script>
 <script src="../public/vendor/aos/aos.js"></script>
 <script src="../public/vendor/jquery.countdown/jquery.countdown.js"></script>
 <script src="../public/vendor/jquery.validate/jquery.validate.min.js"></script>
 <script src="../public/vendor/js3.0/jquery.nicescroll.js"></script>
 <!-- Template Main JS File -->
 <script src="../public/js/main.js"></script>
 

 <script>


$(window).on('load', function() {
      var venuByCategory = 
      ["Ahmedabad", "Aurangabad", "Bangalore", "Bhimavaram", "Bhopal", "Chennai", "Coimbatore ","Coorg","Hyderabad", "Jaipur","Jalandhar","Karnataka","Khammam","Kolhapur","Kolkata","Kurnool","Mumbai","Nashik","Nuzvid","Nagpur","Pune","Tirupati","Trichy","Vizag"];
      
  
  
    var venuOptions = "";
    for (catName in venuByCategory) {
        venuOptions += "<option>" + venuByCategory[catName] + "</option>";
    }
    document.getElementById("city").innerHTML = venuOptions;
  });

  $(function() {
    // Initialize form validation on the registration form.
    // It has the name attribute "registration"
    
          
    $("form[name='regFormDetails']").validate({
      // Specify validation rules
      rules: {
        // The key name on the left side is the name attribute
        // of an input field. Validation rules are defined
        // on the right side
        name: {
          required: true,
          // Specify that Name should be validated
          // by the built-in "Name" rule
          minlength: 5
        },
        email: {
          required: true,
          // Specify that email should be validated
          // by the built-in "email" rule
          email: true
        },
        
              phone: {
          required: true,
          // Specify that email should be validated
          // by the built-in "email" rule
          minlength: 10
        },
        
                    amount: {
          required: true,
          // Specify that email should be validated
          // by the built-in "email" rule
          
        },	
  
  
        college: {
          required: true,
          // Specify that email should be validated
          // by the built-in "email" rule
          minlength: 8
          
        },
        
              branch: {
          required: true,
          // Specify that email should be validated
          // by the built-in "email" rule
          
        },
        
              course: {
          required: true,
          // Specify that email should be validated
          // by the built-in "email" rule
          
        },
        
              city: {
          required: true,
          // Specify that email should be validated
          // by the built-in "email" rule
          
        },
        
        
      },
      // Specify validation error messages
      messages: {
        name: "Please enter your Name",
        email: "Please enter a valid Email address",
        phone: "Phone number required 10digit",
        amount:"Minimum Amount should be 2500",
        college: "Enter Your College Name",
        branch: "Select Branch",
        course: "Select course",
        city: "Select city",
      },
      // Make sure the form is submitted to the destination defined
      // in the "action" attribute of the form when valid
      submitHandler: function(form) {
        form.submit();
      }
    });
    
  });


  </script>
  
  
    <script type="text/javascript">    
  var courseByCategory = {
      Mechanical: ["Electric CAR Design,Development& Manufacturing","Self driving CAR Design,Development & Manufacturing","ATV Dynamics Design,Development and fabrication","Electic Formula Design,Development and fabrication","Gasoline Formula Vehical","GO-Kart design and Manufacturing","6 Feet Humanoid Robot Design & Manufacturing"],
      Civil: ["All in ONE(Structure Design Analysis, Primavera, BIM, GIS & Total Station.)"],
      'Computer Science': ["Data Science with Artificial intelligence, Machine Learning & Deep Learning","6 Feet Humanoid Robot Design & Manufacturing"],
      'Electronics & Communication': ["INTERNET OF THINGS with Raspberry Pi 4.0 & Artificial Intelligence","6 Feet Humanoid Robot Design & Manufacturing","Electic Formula Design,Development and fabrication"]
  }
  
      function changecat(value) {
          if (value.length == 0) document.getElementById("course").innerHTML = "<option></option>";
          else {
              var catOptions = "";
              for (categoryId in courseByCategory[value]) {
                  catOptions += "<option>" + courseByCategory[value][categoryId] + "</option>";
              }
              document.getElementById("course").innerHTML = catOptions;
          }
      }
      
      
      
  //     var venuByCategory = {
  //     Mechanical: ["Ahmedabad", "Aurangabad", "Bangalore", "Bhimavaram", "Bhopal", "Chennai", "Coimbatore ","Coorg","Hyderabad", "Jaipur","Jalandhar","Karnataka","Khammam","Kolhapur","Kolkata","Kurnool","Mumbai","Nashik","Nuzvid","Nagpur","Pune","Tirupati","Trichy","Vizag"],
  //     Civil: ["Ahmedabad", "Aurangabad", "Bangalore", "Bhimavaram", "Bhopal", "Chennai", "Coimbatore ","Coorg","Hyderabad", "Jaipur","Jalandhar","Karnataka","Khammam","Kolhapur","Kolkata","Kurnool","Mumbai","Nashik","Nuzvid","Nagpur","Pune","Tirupati","Trichy","Vizag"],
  //     'Computer Science': ["Ahmedabad", "Aurangabad", "Bangalore", "Bhimavaram", "Bhopal", "Chennai", "Coimbatore ","Coorg","Hyderabad", "Jaipur","Jalandhar","Karnataka","Khammam","Kolhapur","Kolkata","Kurnool","Mumbai","Nashik","Nuzvid","Nagpur","Pune","Tirupati","Trichy","Vizag"],
  //     'Electronics & Communication': ["Ahmedabad", "Aurangabad", "Bangalore", "Bhimavaram", "Bhopal", "Chennai", "Coimbatore ","Coorg","Hyderabad", "Jaipur","Jalandhar","Karnataka","Khammam","Kolhapur","Kolkata","Kurnool","Mumbai","Nashik","Nuzvid","Nagpur","Pune","Tirupati","Trichy","Vizag"],
  // }
  
  //     function changecate(value) {
  //         if (value.length == 0) document.getElementById("city").innerHTML = "<option></option>";
  //         else {
  //             var venuOptions = "";
  //             for (catId in venuByCategory[value]) {
  //                 venuOptions += "<option>" + venuByCategory[value][catId] + "</option>";
  //             }
  //             document.getElementById("city").innerHTML = venuOptions;
  //         }
  //     }
  
  </script>

<script>
  var queryString = decodeURIComponent(window.location.search);
  queryString = queryString.substring(1);
  var queries = queryString.split("&");
  document.getElementById("branch").value = queries[0];
  document.getElementById("course").value = queries[1];
  
  for (let i = 0; i < queries.length; i++) {
    console.log(queries[i]);  
  }
</script>
</body>

</html>