<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Student Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="icon">
  <link href="/img/logoAMZ/AMZ Techiversity logo 2.png" rel="apple-touch-icon">
  <title>AMZ - Admin Portal</title>

  <!-- Bootstrap CSS -->
  <link href="/vendor/css3.0/bootstrap.min.css" rel="stylesheet">

  <link href="/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" >
  <!-- bootstrap theme -->
  <link href="/vendor/css3.0/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="/vendor/css3.0/elegant-icons-style.css" rel="stylesheet" />
  <link href="/vendor/css3.0/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/vendor/css3.0/line-icons.css">
  <!-- Custom styles -->
  
  <link href="/vendor/owl.carousel/assets/owl.carousel.css" rel="stylesheet">
  
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <link href="/vendor/css3.0/style.css" rel="stylesheet">
  <link href="/vendor/css3.0/style-responsive.css" rel="stylesheet" />

  
</head>

<body>
  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="./adminHome.html"><img src="/img/logoAMZ/AMZ Techiversity log.png" alt="" class="img-fluid logo_img"></a>
      <!--logo end-->

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-left top-menu">

          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="/vendor/img/avatar1_small.jpg">
                            </span>
                            <span class="username">Admin Name</span>
                            <b class="caret"></b>
                        </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <a href="./adminHome.html"><i class="icon_profile"></i>Main Page</a>
              </li>
              <li>
                <a href="./enquiryData.html"><i class="icon_mail_alt"></i> Enquiry Data</a>
              </li>
              <li>
                <a href="./dataUpload.html"><i class="icon_clock_alt"></i> Data Upload</a>
              </li>
              <li>
                <a href="#"><i class="icon_pencil-edit"></i> IRC Chapter</a>
              </li>
              <li>
                <a href="./onCampusCourse.html"><i class="icon_laptop"></i>On Campus Courses</a>
              </li>
              <li>
                <a href="./internship.html"><i class="icon_chat_alt"></i>Internship Courses</a>
              </li>
              <li>
                <a href="./login.html"><i class="icon_key_alt"></i> Log Out</a>
              </li>
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li>
            <a class="" href="#researchPaper">
                          <i class="icon_chat_alt"></i>
                          <span>Research Paper</span>
                      </a>
          </li>
          <li>
            <a class="" href="#patent">
                          <i class="icon_documents_alt"></i>
                          <span>Patent</span>
                      </a>
          </li>
          <li>
            <a class="" href="#startUp">
                          <i class="icon_globe_alt"></i>
                          <span>Start Up</span>
                      </a>
          </li>
          <li>
            <a class="" href="#innovativeIdea">
                          <i class="icon_tool"></i>
                          <span>Innovative Idea</span>
                      </a>
          </li>
          <li>
            <a class="" href="#complain">
                          <i class="icon_pencil-edit"></i>
                          <span>Complain</span>
                      </a>
          </li>
          <li>
            <a class="" href="#projectGallery">
                          <i class="icon_laptop"></i>
                          <span>Projects</span>
                      </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
<section id="main-content">
     
<!-- Research Paper -->
      <section class="wrapper" id="researchPaper">
        <div class="section-title">
          <h2>Research Paper</h2>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#viewResearchPaper">
                                          <i class="icon_tools"></i>
                                          View
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <div id="viewResearchPaper" class="tab-pane active">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1>Research Paper Info</h1>
                        <div class="row">
                          <%for(var i=0;i<requests.length;i++){%>
                            <%if(requests[i].type=='Research Paper'){%>
                          <div class="view-row">
                            <p><%=requests[i].enroll_id%><br>
                              Name :Amit Patel
                            </p>
                            <button id="modal-AmzDescriptionModal" data-toggle="modal" data-target="#viewDescriptionModal" class="btn btn-secondary btn-md btn-ircChapter">View Description</button>
                            <button class="btn btn-warning btn-md btn-ircChapter">View PDF</button>
                            <button class="btn btn-success btn-md btn-ircChapter">Download</button>
                            <button class="btn btn-danger btn-md btn-ircChapter">Delete</button>
                            <button id="modal-AmzMessageModal" data-toggle="modal" data-target="#messageModal" class="btn btn-primary btn-md btn-ircChapter">Message</button>
                          </div>
                        <%}}%>
                
                        </div>
                      </div>
                    </section>
                
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>

<!-- Patent -->
<section class="wrapper" id="patent">
  <div class="section-title">
    <h2>Patent</h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading tab-bg-info">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#viewPatent">
                                    <i class="icon_tools"></i>
                                    View
                                </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content">
            <div id="viewPatent" class="tab-pane active">
              <section class="panel">
                <div class="panel-body bio-graph-info">
                  <h1>Patent Info</h1>
                  <div class="row">
                    <div class="view-row">
                      <p>ID:AMZ/2020/mech<br>
                        Name :Amit Patel
                      </p>
                       <button id="modal-AmzDescriptionModal" data-toggle="modal" data-target="#viewDescriptionModal" class="btn btn-secondary btn-md btn-ircChapter">View Description</button>
                            <button class="btn btn-warning btn-md btn-ircChapter">View PDF</button>
                            <button class="btn btn-success btn-md btn-ircChapter">Download</button>
                            <button class="btn btn-danger btn-md btn-ircChapter">Delete</button>
                            <button id="modal-AmzMessageModal" data-toggle="modal" data-target="#messageModal" class="btn btn-primary btn-md btn-ircChapter">Message</button>
                    </div>
                    <div class="view-row">
                      <p>ID:AMZ/2020/civil<br>
                        Name :Amit Patel
                      </p>
                       <button id="modal-AmzDescriptionModal" data-toggle="modal" data-target="#viewDescriptionModal" class="btn btn-secondary btn-md btn-ircChapter">View Description</button>
                            <button class="btn btn-warning btn-md btn-ircChapter">View PDF</button>
                            <button class="btn btn-success btn-md btn-ircChapter">Download</button>
                            <button class="btn btn-danger btn-md btn-ircChapter">Delete</button>
                            <button id="modal-AmzMessageModal" data-toggle="modal" data-target="#messageModal" class="btn btn-primary btn-md btn-ircChapter">Message</button>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="row">
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>


<!-- Start Up -->
<section class="wrapper" id="startUp">
  <div class="section-title">
    <h2>Start Up</h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading tab-bg-info">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#viewStartUp">
                                    <i class="icon_tools"></i>
                                    View
                                </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content">
            <div id="viewStartUp" class="tab-pane active">
              <section class="panel">
                <div class="panel-body bio-graph-info">
                  <h1>Start Up Info</h1>
                  <div class="row">
                    <div class="view-row">
                      <p>ID:AMZ/2020/mech<br>
                        Name :Amit Patel
                      </p>
                       <button id="modal-AmzDescriptionModal" data-toggle="modal" data-target="#viewDescriptionModal" class="btn btn-secondary btn-md btn-ircChapter">View Description</button>
                            <button class="btn btn-warning btn-md btn-ircChapter">View PDF</button>
                            <button class="btn btn-success btn-md btn-ircChapter">Download</button>
                            <button class="btn btn-danger btn-md btn-ircChapter">Delete</button>
                            <button id="modal-AmzMessageModal" data-toggle="modal" data-target="#messageModal" class="btn btn-primary btn-md btn-ircChapter">Message</button>
                    </div>
                    <div class="view-row">
                      <p>ID:AMZ/2020/civil<br>
                        Name :Amit Patel
                      </p>
                       <button id="modal-AmzDescriptionModal" data-toggle="modal" data-target="#viewDescriptionModal" class="btn btn-secondary btn-md btn-ircChapter">View Description</button>
                            <button class="btn btn-warning btn-md btn-ircChapter">View PDF</button>
                            <button class="btn btn-success btn-md btn-ircChapter">Download</button>
                            <button class="btn btn-danger btn-md btn-ircChapter">Delete</button>
                            <button id="modal-AmzMessageModal" data-toggle="modal" data-target="#messageModal" class="btn btn-primary btn-md btn-ircChapter">Message</button>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="row">
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>


<!-- Innovative Idea -->
<section class="wrapper" id="innovativeIdea">
  <div class="section-title">
    <h2>Innovative Idea</h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading tab-bg-info">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#viewInnovativeIdea">
                                    <i class="icon_tools"></i>
                                    View
                                </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content">
            <div id="viewInnovativeIdea" class="tab-pane active">
              <section class="panel">
                <div class="panel-body bio-graph-info">
                  <h1>Innovative Idea Info</h1>
                  <div class="row">
                    <div class="view-row">
                      <p>ID:AMZ/2020/mech<br>
                        Name :Amit Patel
                      </p>
                       <button id="modal-AmzDescriptionModal" data-toggle="modal" data-target="#viewDescriptionModal" class="btn btn-secondary btn-md btn-ircChapter">View Description</button>
                            <button class="btn btn-warning btn-md btn-ircChapter">View PDF</button>
                            <button class="btn btn-success btn-md btn-ircChapter">Download</button>
                            <button class="btn btn-danger btn-md btn-ircChapter">Delete</button>
                            <button id="modal-AmzMessageModal" data-toggle="modal" data-target="#messageModal" class="btn btn-primary btn-md btn-ircChapter">Message</button>
                    </div>
                    <div class="view-row">
                      <p>ID:AMZ/2020/civil<br>
                        Name :Amit Patel
                      </p>
                       <button id="modal-AmzDescriptionModal" data-toggle="modal" data-target="#viewDescriptionModal" class="btn btn-secondary btn-md btn-ircChapter">View Description</button>
                            <button class="btn btn-warning btn-md btn-ircChapter">View PDF</button>
                            <button class="btn btn-success btn-md btn-ircChapter">Download</button>
                            <button class="btn btn-danger btn-md btn-ircChapter">Delete</button>
                            <button id="modal-AmzMessageModal" data-toggle="modal" data-target="#messageModal" class="btn btn-primary btn-md btn-ircChapter">Message</button>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="row">
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>


<!-- Complain -->
<section class="wrapper" id="complain">
  <div class="section-title">
    <h2>Complain</h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading tab-bg-info">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#viewComplain">
                                    <i class="icon_tools"></i>
                                    View
                                </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content">
            <div id="viewComplain" class="tab-pane active">
              <section class="panel">
                <div class="panel-body bio-graph-info">
                  <h1>Complain Info</h1>
                  <div class="row">
                    <div class="view-row">
                      <p>ID:AMZ/2020/mech<br>
                        Name :Amit Patel
                      </p>
                       <button id="modal-AmzDescriptionModal" data-toggle="modal" data-target="#viewDescriptionModal" class="btn btn-secondary btn-md btn-ircChapter">View Description</button>
                            <button class="btn btn-warning btn-md btn-ircChapter">View PDF</button>
                            <button class="btn btn-success btn-md btn-ircChapter">Download</button>
                            <button class="btn btn-danger btn-md btn-ircChapter">Delete</button>
                            <button id="modal-AmzMessageModal" data-toggle="modal" data-target="#messageModal" class="btn btn-primary btn-md btn-ircChapter">Message</button>
                    </div>
                    <div class="view-row">
                      <p>ID:AMZ/2020/civil<br>
                        Name :Amit Patel
                      </p>
                       <button id="modal-AmzDescriptionModal" data-toggle="modal" data-target="#viewDescriptionModal" class="btn btn-secondary btn-md btn-ircChapter">View Description</button>
                            <button class="btn btn-warning btn-md btn-ircChapter">View PDF</button>
                            <button class="btn btn-success btn-md btn-ircChapter">Download</button>
                            <button class="btn btn-danger btn-md btn-ircChapter">Delete</button>
                            <button id="modal-AmzMessageModal" data-toggle="modal" data-target="#messageModal" class="btn btn-primary btn-md btn-ircChapter">Message</button>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="row">
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Project Gallery -->
<section class="wrapper" id="projectGallery">
  <div class="section-title">
    <h2>Project Gallery</h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading tab-bg-info">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#viewprojectGallery">
                                    <i class="icon_tools"></i>
                                    View
                                </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content">
            <div id="viewprojectGallery" class="tab-pane active">
              <section class="panel">
                <div class="panel-body bio-graph-info">
                  <h1>Project Gallery Info</h1>
                  
                  <div class="row project-row" id="easyPaginate">


                    <div class="col-md-4 col-sm-12 itemsPaginate">
                      <div class="card">
                        <div class="course-wrap">
                          <img class="card-img-top img-fluid" src="/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Project Title1</h5>
                          <p class="card-text">Project Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ad?</p>
                          <a href="./readProject.html" class="link-btn">Read More....</a>
                          <div class="mt-3">
                            <a href="" class="btn btn-primary mr-3">Approve</a>
                            <a href="" class="btn btn-danger">Remove</a>
                          </div>
                        </div> 
                        </div>
                      </div>
                    </div>
      
                    <div class="col-md-4 col-sm-12 itemsPaginate">
                      <div class="card">
                        <div class="course-wrap">
                          <img class="card-img-top img-fluid" src="/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Project Title2</h5>
                          <p class="card-text">Project Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ad?</p>
                           <a href="./readProject.html" class="link-btn">Read More....</a>
                           <div class="mt-3">
                            <a href="" class="btn btn-primary mr-3">Approve</a>
                            <a href="" class="btn btn-danger">Remove</a>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-4 col-sm-12 itemsPaginate">
                      <div class="card">
                        <div class="course-wrap">
                          <img class="card-img-top img-fluid" src="/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Project Title3</h5>
                          <p class="card-text">Project Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ad?</p>
                           <a href="./readProject.html" class="link-btn">Read More....</a>
                           <div class="mt-3">
                            <a href="" class="btn btn-primary mr-3">Approve</a>
                            <a href="" class="btn btn-danger">Remove</a>
                          </div>
                        </div>
                          
                        </div>
                      </div>
                    </div>
      
                    <div class="col-md-4 col-sm-12 itemsPaginate">
                      <div class="card">
                        <div class="course-wrap">
                          <img class="card-img-top img-fluid" src="/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Project Title4</h5>
                          <p class="card-text">Project Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ad?</p>
                           <a href="./readProject.html" class="link-btn">Read More....</a>
                           <div class="mt-3">
                            <a href="" class="btn btn-primary mr-3">Approve</a>
                            <a href="" class="btn btn-danger">Remove</a>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-12 itemsPaginate">
                      <div class="card">
                        <div class="course-wrap">
                          <img class="card-img-top img-fluid" src="/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Project Title5</h5>
                          <p class="card-text">Project Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ad?</p>
                           <a href="./readProject.html" class="link-btn">Read More....</a>
                           <div class="mt-3">
                            <a href="" class="btn btn-primary mr-3">Approve</a>
                            <a href="" class="btn btn-danger">Remove</a>
                          </div>
                        </div>
                          
                        </div>
                      </div>
                    </div>
      
                    <div class="col-md-4 col-sm-12 itemsPaginate">
                      <div class="card">
                        <div class="course-wrap">
                          <img class="card-img-top img-fluid" src="/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Project Title6</h5>
                          <p class="card-text">Project Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ad?</p>
                           <a href="./readProject.html" class="link-btn">Read More....</a>
                           <div class="mt-3">
                            <a href="" class="btn btn-primary mr-3">Approve</a>
                            <a href="" class="btn btn-danger">Remove</a>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-4 col-sm-12 itemsPaginate">
                      <div class="card">
                        <div class="course-wrap">
                          <img class="card-img-top img-fluid" src="/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Project Title7</h5>
                          <p class="card-text">Project Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ad?</p>
                           <a href="./readProject.html" class="link-btn">Read More....</a>
                           <div class="mt-3">
                            <a href="" class="btn btn-primary mr-3">Approve</a>
                            <a href="" class="btn btn-danger">Remove</a>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-12 itemsPaginate">
                      <div class="card">
                        <div class="course-wrap">
                          <img class="card-img-top img-fluid" src="/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Project Title8</h5>
                          <p class="card-text">Project Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ad?</p>
                           <a href="./readProject.html" class="link-btn">Read More....</a>
                           <div class="mt-3">
                            <a href="" class="btn btn-primary mr-3">Approve</a>
                            <a href="" class="btn btn-danger">Remove</a>
                          </div>
                        </div>
                          
                        </div>
                      </div>
                    </div>
      
                    <div class="col-md-4 col-sm-12 itemsPaginate">
                      <div class="card">
                        <div class="course-wrap">
                          <img class="card-img-top img-fluid" src="/img/portfolio/portfolio-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Project Title9</h5>
                          <p class="card-text">Project Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ad?</p>
                           <a href="./readProject.html">Read More....</a>
                           <div class="mt-3">
                            <a href="" class="btn btn-primary mr-3">Approve</a>
                            <a href="" class="btn btn-danger">Remove</a>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
    
                    </div>


                </div>
              </section>
              <section>
                <div class="row">
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>


</section>
  </section>

  
     <!-- Modal View Description -->
     <div class="modal fade FormModal" id="viewDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <p class="text-center">Details</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="d-flex flex-column text-center">
              <form class="FormModal-form" action="">
                
                <div class="form-group">
                  <input type="text" class="form-control" name="userRqHeader" id="userName" placeholder="HEADING..." autocomplete="off" value="Title to provide details" disabled>
                </div>
                
                <div class="form-group">
                  <textarea name="userRqDesc" id="userInfo" cols="5" rows="4" class="form-control" placeholder="DESCRIPTION..." autocomplete="off" disabled>jkj</textarea>
                </div>
                
  
              </form>
              
          </div>
        </div>
          <div class="modal-footer border-top-0">
            <div class="dismiss-section text-center">Not Interested? <a data-dismiss="modal" class="text-info"> Back</a>.</div>
          </div>
      </div>
    </div>
    </div>
    <!-- Modal End  -->

       <!-- Modal Message -->
   <div class="modal fade FormModal" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <p class="text-center">Message Details</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column text-center">
            <form class="FormModal-form" action="" name="message-Form">
              
              <div class="form-group">
                <input type="text" class="form-control" name="email" id="userEmail" placeholder="USER EMAIL..." autocomplete="off">
              </div>

              <div class="form-group">
                <textarea name="description" id="userInfo" cols="5" rows="3" class="form-control" placeholder="DESCRIPTION..." autocomplete="off"></textarea>
              </div>
              
              <div class="row">
                <div class="col-md-6 col-sm-12 offset-md-6 mr-auto">
                  <button type="submit" class="btn btn-info btn-block btn-round">Send</button>
                </div>
              </div>

            </form>
            
        </div>
      </div>
        <div class="modal-footer border-top-0">
          <div class="dismiss-section text-center">Not Interested? <a data-dismiss="modal" class="text-info"> Back</a>.</div>
        </div>
    </div>
  </div>
  </div>
  <!-- Modal End  -->

  <!-- container section end -->
  <!-- javascripts -->

 <script src="/vendor/js3.0/jquery.js"></script>
  <script src="/vendor/js3.0/bootstrap.min.js"></script>

  <!-- nice scroll -->
  <script src="/vendor/js3.0/jquery.scrollTo.min.js"></script>
  <script src="/vendor/js3.0/jquery.nicescroll.js"></script>
  
 <script src="/vendor/owl.carousel/owl.carousel.js"></script>
  <!--custome script for all page-->
  <script src="/vendor/js3.0/scripts.js"></script>
  <script src="/vendor/paginate/jquery.paginate.js"></script>
  <script src="/vendor/jquery.validate/jquery.validate.min.js"></script>

  <script>
    //Paginate Js
  $('#easyPaginate').easyPaginate({
    paginateElement: '.itemsPaginate',
    elementsPerPage: 3,
    effect: 'climb',
    prevButtonText: 'prev',
    nextButtonText: 'next'
  });
</script>

<script>
  
  $(function() {
    
    $("form[name='message-Form']").validate({
      rules: {

        email: {
          required: true,
          email: true
        },
        description:{
          required:true,
          minlength:10
        }
                  
      },
      messages: {
        email: "Not a valid Email",
        description: "Atleast 10Characters Required",
      },
      submitHandler: function(form) {
        form.submit();
      }
    });

  });

</script>
</body>

</html>
