<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<!doctype html>
<html lang="en">

<body>
 
<div class="ui main text container a">
    <div class=" ui huge header">Home Page videos Images</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <%for(var i=0;i<video.length;i++){%>
            <div class="item">
                <div class="image">
                    <img src="<%=video[i].img_url%>">
                </div>
                <div class="content">
                    
                    <div class="extra">
                        <form action="/<%=video[i].videoid%>/showvideo" method="POST">
                            
                            <button type="Submit" class="ui red basic button">Remove</button>
                        </form>  
                    </div>
                </div>
            </div>
            ￼￼
            
            <%}%> 
        </div>
    </div>
    <br>
    <form action="/delete/video" method="POST">
                            
        <button type="Submit" class="ui red basic button">Remove ALL Videos </button>
    </form>
</div>
<style>
.a{
    margin-top:10%;
}
.b{
    width:33%;
    height:4rem;
    font-size:33ch;
}
.asd{
        padding-top:8%;
        margin-bottom: 0%;
        background-size:cover;
    }
    .i{
        height:800px;
        width:100%;
    }
    
</style>
