<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui main text container segment" id="a">
    <div class="ui huge header">Video Section Url</div>
    <form class="ui form" action="/video" method="POST">
        
            <div class="field">
                    <label>Enter Video Url</label>
                    <input type="text" name="img_url">
                </div>    
        <button class="ui button" type="submit">Submit</button>
        </div>
    </form>
</div>
</div>
<style>
#a{
    margin-top:10%;
}
</style>
